
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" ></script>

<script>
    $(document).ready(function() {
        var data = [];
        var poll = <%- JSON.stringify(poll) %>;
        
        poll.optionList.forEach(function(optionObj, index) {
            console.log(optionObj);
            data.push({
                value: optionObj.votedUsers.length,
                color: getRandomColor(),    //"#F7464A",
                highlight: data.color, //"#FF5A5E",
                label: optionObj.optionName
            });
        });
        
        
        function getRandomColor() {
            var letters = '0123456789ABCDEF'.split('');
            var color = '#';
            for (var i = 0; i < 6; i++ ) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }
          
            
        // Get context with jQuery - using jQuery's .get() method.
        var ctx = $("#myChart").get(0).getContext("2d");
        // This will get the first returned node in the jQuery collection.
        var myPieChart = new Chart(ctx).Pie(data);
        
    });
</script>
<div class="canvas-container">
    <canvas id="myChart" width="300" height="300"></canvas>
</div>