<!DOCTYPE html>

<html>
    <head>
        <title>FCC Voting System - Air</title>
        <!--<link href="/public/css/main.css" rel="stylesheet" type="text/css">-->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    
    </head>    
    
    <header>
        <nav>
          <a href="/">Home</a> |
          <a><%= user.twitter.displayName %></a> |
          <a href="/logout" class="btn btn-default btn-sm">Logout</a> | 
          <a href="/newPoll" class="btn btn-default btn-sm">New Poll</a>
        </nav> 
    </header>
    
    <body>
        <div class="container"> 
            <p>FCC Voting List</p>
            <table>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
    </body>    
</html>    